.btn {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  padding: 10px 100px;
  background-image: linear-gradient(
    to right,
    #84fab0 0%,
    #8fd3f4 51%,
    #84fab0 100%
  );
  border: 1px solid rgba(221, 160, 221, 0.006);
  border-radius: 25px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;
  margin-top: 1rem;
  width: 320px;
}

.btn:hover {
  background-position: right center;
}

input {
  outline: 0;
  border: 0;
  font-size: 1rem;
  border-bottom: 2px solid gray;
  padding: 15px 0 0;
  width: 80%;
  line-height: 2rem;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  align-items: center;
}

h1 {
  color: #333;
}

.message {
  background-color: rgb(28, 27, 27);
  border-radius: 6px;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.162) 0px 8px 24px;
  color: white;
}
